<div class="container info-container">
    <h2 class="text-center form-title">Login</h2>
    <form class="row g-3">
        <div class="input-group mb-3">
            <input type="text" class="form-control username" placeholder="Username" aria-label="Username">
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control password" placeholder="Password" aria-label="Password">
        </div>
    </form>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button type="button" class="btn btn-primary form-btn">Login</button>
    </div>
</div>