<<<<<<< HEAD
<div class="container">
    <form class="row g-3">
        <div class="col-auto">
            <label for="user" class="visually-hidden">Username</label>
            <input type="text" readonly class="form-control-plaintext" id="username">
        </div>
        <div class="col-auto">
            <label for="inputPassword2" class="visually-hidden">Password</label>
            <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </div>
    </form>
=======
<div class="container info-container">
    <h2 class="text-center form-title">Login</h2>
    <form class="row g-3">
        <div class="input-group mb-3">
            <input type="text" class="form-control username" placeholder="Username" aria-label="Username">
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control password" placeholder="Password" aria-label="Password">
        </div>
    </form>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button type="button" class="btn btn-primary form-btn">Login</button>
    </div>
>>>>>>> 4dbd171337e0247d4e131113b7f87d1073e9cb43
</div>