
<div class="container">
    <form class="row g-3">
        <div class="col-auto">
            <label for="user" class="visually-hidden">Username</label>
            <input type="text" readonly class="form-control-plaintext" id="username">
        </div>
        <div class="col-auto">
            <label for="inputPassword2" class="visually-hidden">Password</label>
            <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </div>
        <div class="col-auto">
            <p>New to Long Rides?<span><a class="hyperlink" href="signup.handlebars"> Sign Up Here!</a></span></p>
        </div>
    </form>
