<div class="container info-container">
    <h2 class="text-center form-title">Sign-Up</h2>
    <form class="row g-3 signup-form">
        <div class="input-group mb-3">
            <input type="text" class="form-control username" id="username-signup" placeholder="Username" aria-label="Username">
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control email" placeholder="Email Address" aria-label="Email">
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control password" id="password-signup" placeholder="Password" aria-label="Password">
        </div>
    </form>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn btn-primary form-btn">Sign-Up</button>
    </div>
</div>