<div class="container">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Username's Stats</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Last Login: </li>
        <li class="list-group-item">Total Rides been on: </li>
        <li class="list-group-item">Total Rides Driven: </li>
        <li class="list-group-item">Most Visited Location: </li>
    </ul>
    </div>
</div>