  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/public/images/long-rides-light-mode.png" alt="" width="300" height="90">
      </a>
    </div>
    <div>
      <form class="container-fluid justify-content-end">
        <button class="btn btn-outline-success me-2" type="button">log in</button>
      </form>
    </div>
  </nav>
  <br>

<div class="container">
  <div class="row">
    <div class="col">
      <h3>Create ride</h3>
      <br>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Destination address:</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="2317 Speedway, Austin, TX 78712">
      </div>
      <br>
      <form class="row g-3">
        <div class="col-auto">
         
          <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Price">
        </div>
        <div class="col-auto">
         
          <input type="number" class="form-control" id="inputPassword2" placeholder="$">
        </div>
   </form>
   <br>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Description:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Pick-up location, time, number of stops, etc..." rows="3"></textarea>
      </div>
      <br>
      <div>
        <button type="submit" class="btn btn-primary mb-3">Create</button>
      </div>

    </div>




    <div class="col">
      <h3 style="text-align:auto;">Google Maps</h3>
      <br>
      <img src="/public/images/austin-map.png" alt="Maps" width="400" height="300">
    </div>


  </div>
 
</div>