<div class="container">
      <header class="header">Username</header>
      <div class="card">
          <div class="card-body">
            <h5 class="card-title">Settings</h5>
            <button>dark mode</button>
            <button>switch to driver</button>
            <button>log out</button>              
          </div>
      </div> 
</div>
