{{!-- <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../static/images/long-rides-light-mode.png" alt="" width="300" height="90">
      </a>
    </div>
    <div>
      <form class="container-fluid justify-content-end">
        <button class="btn btn-outline-success me-2" type="button">log in</button>
      </form>
    </div> --}}
    

  </nav>
  <br>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Welcome user</h2>

        <div class="card" style="width: 18rem; margin-top: 20px;">
          <div class="card-header">
            Ride list:
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
          </ul>
        </div>
      </div>
      <div class="col-6">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="starting point">
          <label for="floatingInput">Location</label>
        </div>
        <div><img style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 15px;"
            src="../public/images/PngItem_2487974.png" alt="" width="30" height="30"></div>
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingPassword" placeholder="where you cant to go">
          <label for="floatingPassword">Destination</label>
        </div>
        <br>
        <div>
          <h3>My Google Maps Demo</h3>
          <!--The div element for the map -->
          <div id="map"></div>

        </div>
      </div>

    </div>


  </div>
  </div>




  </div>