<nav class="navbar navbar-light bg-danger">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/public/images/long-rides-light-mode.png" alt="" width="300" height="90">
    </a>
  </div>
  <div>
    <form class="container-fluid justify-content-end">
      <button class="btn btn-outline-warning btn-lg me-2" type="button">Log in</button>
    </form>
  </div>


</nav>
<br>
<div class="container">
  <div class="row">
    <div class="col-6">
      <h3>Welcome user</h3>

      <div class="card" style="width: 18rem; margin-top: 20px;">
        <div class="card-header">
          Ride list:
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">An item</li>
        </ul>
      </div>
    </div>
    <div class="col-4">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="starting point">
        <label for="floatingInput">Pick-up location</label>
      </div>
      <div><img style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 15px;"
          src="/public/images/PngItem_2487974.png" alt="" width="20" height="20"></div>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingPassword" placeholder="where you cant to go">
        <label for="floatingPassword">Destination address</label>
      </div>
      <div>
        <br />
        <div class="text-center">
          <h4>Google Maps</h4>
          <img src="/public/images/austin-map.png" alt="Maps" width="400" height="300"
            style="border: 3px solid grey; border-radius: 3%">
        </div>
        <!-- <img src="/austin-map.png" style="border: 3px solid grey; border-radius: 3%;" alt="Maps" width="400" height="300" /> -->
      </div>
    </div>

  </div>


</div>
</div>
</div>