<div class="flex-container" id="flex1">
    <div class="flex-child">
        <div class="col align-self-start">
            <div class="row">
                <h1 class="title">Long</h1>
                <h2 class="subtitle">Rides</h2>
            </div>
            <div class="row brand-statement" id="brand">
                <h3>"Your Ride Starts Here!"</h3>
            </div>
        </div>
    </div>
</div>
<div class="flex-container" id="flexmain">
    <form class="flex-child login-form">
        <h1 class="signTitle">Login</h1>
        <div class="col-auto" id="topfill">
            <input type="text" class="form-control" id="username-login" placeholder="Username" aria-label="Username">
        </div>
        <div class="col-auto">
            <input type="password" class="form-control" id="password-login" placeholder="Password"
                aria-label="Password">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary" id="login-btn">Login</button>
        </div>
        <div class="col-auto">
            <p>New to Long Rides?<span><a class="hyperlink" href="signup"> Sign-Up Here!</a></span></p>
        </div>
    </form>
</div>
<script src="js/login.js"></script>