<nav class="navbar navbar-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Long Rides</span>
      <button type="button" class="btn btn-primary">
          {{#if signUp}}
          <span>Sign Up</span>
          {{else}}
          <span>Login</span>
          {{/if}}
      </button>
    </div>
  </nav>
  <div class="container main">
    <div class="row">
      <div class="col align-self-start">
        <div class="row logo">

        </div>
        <div class="row">
          <h1 class="title">Long</h1>
          <h2 class="subtitle">Rides</h2>
        </div>
        <div class="row brand-statement">
          <h3>Brand statement</h3>
        </div>
      </div>
      <div class="col align-self-end">
        {{#if signUp}}
        {{> sign-up}}
        {{else}}
        {{> login}}
        {{/if}}
      </div>
    </div>
  </div>

  <script src="../public/js/login.js"></script>
  