<nav class="navbar navbar-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Long Rides</span>
    <button type="button" class="btn btn-primary" onclick="window.location.href='signup'">
      <span>Sign-Up</span>
    </button>
  </div>
</nav>
<div class="container main">
  <div class="row">
    <div class="col align-self-start">
      <div class="row logo">

      </div>
      <div class="row">
        <h1 class="title">Long</h1>
        <h2 class="subtitle">Rides</h2>
      </div>
      <div class="row brand-statement">
        <h3>Brand statement</h3>
      </div>
    </div>
    <div class="col align-self-end">
      <div class="container info-container">
        <h2 class="text-center form-title">Login</h2>
        <form class="row g-3">
          <div class="input-group mb-3">
            <input type="text" class="form-control username" id="username-login" placeholder="Username"
              aria-label="Username">
          </div>

          <div class="input-group mb-3">
            <input type="text" class="form-control password" id="password-login" placeholder="Password"
              aria-label="Password">
          </div>
        </form>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button type="submit" class="btn btn-primary form-btn">Login</button>
        </div>
        <div class="col-auto text-center mt-5">
          <p>New to Long Rides?<span><a class="hyperlink" href="signup"> Sign-Up Here!</a></span></p>
        </div>
      </div>

      <script src="js/login.js"></script>