<header class="header text-center">{{users}}'s Settings</header>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card settings">
                <div class="card-header text-center">
                    <h3 class="card-title">Settings</h3>
                </div>
                <div class="card-body">
                    <button class="btn" id="join-btn">Switch to Driver</button>
                    <br>
                    <button class="btn" id="logout">Log Out</button>
                </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <form class="driver-form">
            <h1 class="driverprompt text-center">Want to become a driver?</h1>
            <div>
                <label for="insurance"></label>
                <input type="text" class="form-control" placeholder="Insurance Provider" id="provider">
            </div>
            <div>
                <label for="carmake"></label>
                <input type="text" class="form-control" placeholder="Car Make" id="carmake">
            </div>
            <div>
                <label for="model"></label>
                <input type="text" class="form-control" placeholder="Car Model" id="model">
            </div>
            <div>
                <label for="year"></label>
                <input type="text" class="form-control" placeholder="Car Year" id="year">
            </div>
            <div class="d-grid gap-3 col-2 mx-auto">
                <button type="submit" class="submit driver-form-btn" id="join-btn">Submit</button>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
    </div>
</div>


<script src="js/logout.js"></script>