<header class="header">Username</header>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Settings</h5>
        <button class="setbutton" id="leftbutton">dark mode</button>
        <button class="setbutton">switch to driver</button>
        <button class="setbutton">log out</button>
    </div>              
</div>

<div class="container" id="flex3">
    
    <form class="flex-child signup-form">
        <h1 class="driverprompt">Want to become a driver?</h1>
        <div class="col-auto" id="topfill">
                <label for="insurance"></label>
                <input type="text" class="drivefill" placeholder="Insurance Provider" id="provider">
            </div>
            <div class="col-auto">
                <label for="carmake"></label>
                <input type="text" class="drivefill" placeholder="Car Make" id="carmake">
            </div>
            <div class="col-auto">
                <label for="model"></label>
                <input type="text" class="drivefill" placeholder="Car Model" id="model">
            </div>
            <div class="col-auto">
                <label for="year"></label>
                <input type="text" class="drivefill" placeholder="Car Year" id="year">
            </div>
            <div class="col-auto">
                <button type="submit" class="submit">Submit</button>
        </div>
    </form>

  
</div>