<div class="flex-container" id="flex1">
    <div class="flex-child">
        <div class="col align-self-start">
            <div class="row">
                <h1 class="title">Long</h1>
                <h2 class="subtitle">Rides</h2>
            </div>
            <div class="row brand-statement" id="brand">
                <h3>"Your Ride Starts Here!"</h3>
            </div>
        </div>
    </div>
</div>
<div class="flex-container" id="flex2">
    <form class="flex-child signup-form">
        <h1 class="signTitle">Sign-Up</h1>
        <div class="col-auto">
            <label for="user"></label>
            <input type="text" class="form-control" placeholder="Username" id="username-signup">
        </div>
        <div class="col-auto">
            <label for="email"></label>
            <input type="text" class="form-control" placeholder="Email" id="email-signup">
        </div>
        <div class="col-auto">
            <label for="inputPassword2"></label>
            <input type="password" class="form-control" id="password-signup" placeholder="Password">
        </div>
        <div class="col-auto">
            <button type="submit" class="submit" id="login-btn">Submit</button>
        </div>
        <div class="col-auto">
            <p>Already a user?<span><a class="hyperlink" href="/"> Log In Here!</a></span></p>
        </div>
    </form>


    <script src="js/signup.js"></script>